<!DOCTYPE html>
<html>

<head>
	<title>CRUD JIRA</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="css/app.css">
</head>

<body>
	<h2>API Links:</h2>
	<table border="1" cellspacing="0">
		<tr>
			<th>Title</th>
			<th>Link</th>
		</tr>
		<tr>
			<td>Deployments</td>
			<td>
				<a href="http://localhost:3000/jira/deployments">/jira/deployments</a>
			</td>
		</tr>
		<tr>
			<td>Created</td>
			<td>
				<a href="http://localhost:3000/jira/created">/jira/created</a>
			</td>
		</tr>
		<tr>
			<td>Resolved</td>
			<td>
				<a href="http://localhost:3000/jira/resolved">/jira/resolved</a>
			</td>
		</tr>
		<tr>
			<td>Notes</td>
			<td>
				<a href="http://localhost:3000/jira/notes">/jira/notes</a>
			</td>
		</tr>
	</table>
	<br />
	<a href="/create">Create New Game</a>
</body>

</html>